body{
    background-color: #E0E0E0;
}
.container-nav{
    width: 100%;
    display: grid;
    background-color: #E0E0E0;
    position: fixed;
    top: 0;
    height: 40px;
    grid-template-areas: 
    "nav1 img nav3";
}
.nav1{
    grid-area:nav1;
    margin: 5px 280px 5px 250px;
    width: 45px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav1:hover{
    color: rgb(90, 83, 83);
    font-size: 19px;
}
.img{
    grid-area: img;
    width: 70px;
    margin: 10px 250px 5px 0px;
}
.nav3{
    grid-area: nav3;
    width: 50px;
    margin: 5px 300px 5px 0px;
    padding: 1px;
}
.nav3>img{
    margin-top: 3px;
    width: 20px;
}
.container-links{
    width: 100%;
    height: 20px;
    margin: 40px 0px 0px 0px;
    text-align: center;
}
.container-links>a{
    margin: 10px;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-size: 15px;
}
.container-links>a:hover{
    text-decoration: underline;
}
.container-prod{
    width: 63%;
    height: auto;
    display: grid;
    margin: 30px 40px 20px 230px;
    padding: 10px;
    grid-template-columns:280px 280px 280px;
}
.container-prod>div{
    margin: 10px;
}
.container-prod>div>img{
    width: 255px;
    border-radius: 20px;
}
.container-prod>div>h5{
    text-align: center;
    margin: 7px;
}
.container-prod>div>p{
    color: rgb(172, 46, 46);
    text-align: center;
    margin: 4px;
}
#container-footer{
    background-color: #689F38;
    width: 97.5%;
    height: auto;
    padding: 19px;
    display: grid;
    grid-template-areas: 
    "f1 f2";
}
.f1{
    width: 200px;
    height: 100px;
    grid-area: f1;
    margin: 0px 0px 0px 120px;
}
.f1 > h4{
    margin: 3px;
}
.f2{
    width: 200px;
    height: 100px;
    grid-area: f2;
    margin: 0px 20px 0px 500px;
}
.f2>h4{
    margin: 2px;
}
.f2>img{
    width: 40px;
}
